body{
    margin: 0;
    padding: 0;
    background-color: cornsilk;
}
.navbar{
    background-color: white;
    width: 100%;
    display: block;
}
.navbar, ul, a{
    display: inline-block;
    padding: 5px ;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700px;
    color: green;

}
.navbar, ul, a:hover{
    color: hotpink;
}
#main{
    width: 100%;
    height: auto;
    background-color:green;
    position: relative;
    align-items: center;
    text-align: center;
    padding: 60px ;   
    overflow: hidden; 
}
#main img{
    height:300px;
    width: 300px;
    margin-bottom: 50px;
    padding-bottom: 0px;
    border-radius: 50%;
}
.container1 {
    background-color: hotpink;
    margin: 10px; 
    height: 400px;
    width: 100%;
    border-radius: 40px;
    padding: 5px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid black;
    overflow: hidden;
}
.container1 .dpm{
    height: 200px;
    width: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    word-wrap: break-word;
    margin:  30px 40px 30px 40px;
    padding: 30px; 
    justify-content: space-around; 
}
 .dpm .dp1{
    color: blue;
    background-color: hsl(20, 17%, 93%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
    margin-left: 30px;
    flex-wrap: wrap;
    word-wrap: break-word;  
    padding: 10px;
}
.dpm .dp1 h1{
font-family: cursive;
color: crimson;
}
#viva{
    background-color: #f5ff69;
    margin: 10px; 
    height: auto;
    width: 100%;
    padding: 5px;
    display: inline-block;
    flex-direction: row;
    margin: 30px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
}
#viva .viv{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 40px;
    margin-left: 10px;
    margin-right: 10px;
    height: 200px;
    word-wrap: break-word;
    box-sizing: border-box; 
}
.viv .dviv{
    color:black;
    background-color: hsl(20, 17%, 93%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
    margin-left: 30px;
    flex-wrap: wrap;
    word-wrap: break-word;  
    padding: 10px;
}
