body{
    margin: 0;
    padding: 0;
    height: 1200px;
    background-color: #f3d7b3;
    overflow: auto;
}
.navbar{
    background-color: white;
    height: 70px;
    width: 100%;
    margin-top: 0px;
  
}
.navbar, ul, a{
    display: block;
    float:right;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700px;
    color: green;

}
.navbar, ul, a:hover{
    color: hotpink;
}